.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    width: 100vw;
    background-color: #ddd;
    border-bottom: .2rem solid #033c96;
}

.navbar-logo {
    padding-top: .5rem;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-link_container {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    /* height: 80px; */
}


.header-nav-link {
    padding-top: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #033c96;
    font-size: 1.2rem;
    ;
}

.hamburger {
    color: #033c96;
    display: none;
    pointer-events: none;
}

.exam-btn {
    position: fixed;
    top: 19.5rem;
    right: 0rem;
    z-index: 300;
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    /* width: 100%; */
    /* visibility: hidden; */
}

.exam-btn:hover {
    border-radius: 100%;
    background-color: #eee;
}

.icon {
    margin-top: .6rem;
}

.orderBtn-text {
    text-transform: uppercase;
    color: #5cabff;
}

.orderBtn-text_2 {
    text-transform: uppercase;
    color: #5cabff;
    margin-top: -1.4rem;
}

.btn-text {
    margin-top: 1rem;
}

.btn-text_2 {
    display: none;
}

/* .nav-dropdown {
    position: relative;
}

ul ul {
    list-style: none;
    position: absolute;
    margin-top: 3rem;
}

ul ul li {
    background-color: #ccc;
    padding: 1rem 2rem 1rem 2rem;
} */


@media screen and (max-width: 960px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        display: none;
    }

    .nav-item {
        position: relative;
        top: 20.5rem;
        left: -23rem;
        margin-left: -28rem;
        width: 100vw;
    }

    .nav-link_container {
        position: relative;
        top: 0rem;
    }


    .header-nav-link {
        text-align: center;
        padding: 2rem;
        width: 100vw;
        position: relative;
        top: 1rem;
        left: 23rem;
        ;
        /* right: 0; */
        display: flex;
        justify-content: center;
        background-color: #033c96;
        color: #fff;
        z-index: 30;
    }

    .header-nav-link:hover {
        background-color: #5cabff;
        color: #fff;
        border-radius: 0;
        width: 100vw;
    }

    .hamburger {
        display: block;
        position: relative;
        top: 0;
        right: 2.5rem;
        font-size: 1.8rem;
        cursor: pointer;
        pointer-events: all;
    }

    .fa-times {
        font-size: 2.2rem;
        cursor: pointer;
        pointer-events: all;
    }




    .exam-btn {
        position: fixed;
        top: 18.5rem;
        right: 0rem;
        z-index: 300;
        /* width: 100%; */
        /* visibility: hidden; */
    }

    .btn-text {
        font-size: .8rem;
        margin-bottom: 3.7rem;
    }

    .btn-text_2 {
        margin-top: -6rem;
        font-size: .8rem;
        display: flex;
    }

}