.background {
    background-image: url(../assets/national-cancer-institute-59pGROkKJPE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 110vh;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 140rem;
    height: 100vh;
    animation: fade 4s ease-in-out;
    transition: all;
}

.margin-top {
    margin-top: -10rem;
}

.button {
    padding: .8rem 2rem;
    border-radius: .4rem;
    outline: none;
    border: none;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: #033c96;
    animation: fade 4s ease-in-out;
    transition: all;
}

.button:hover {
    padding: .6rem 1.8rem;
    border-radius: .4rem;
    border: .2rem solid #033c96;
    background-color: #5cabff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}